.button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0px;
  border-radius: 12px;
  padding: 12px 99px;
  background: var(--light-blue);

  font-family: var(--main-font-family);
  font-weight: var(--semibold-font-weight);
  font-size: 16px;
  line-height: 1.25;
  color: var(--white);
  transition: background-color 0.3s;
}

.button:hover {
  background-color: var(--dark-blue);
}
