.heartBtn {
  position: absolute;
  top: 5px;
  right: 10px;
  border: none;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  z-index: 2;
  transition: color 0.2s;
}

.heartBtn:hover {
  color: var(--dark-blue);
    transform: scale(1.1);

}

.active svg {
  fill: #2563eb;
}
