.filtersWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  gap: 16px;
  padding-right: 16px;
}

.label {
  font-family: var(--main-font-family);
  font-weight: var(--regular-font-weight);
  font-size: 12px;
  line-height: 1.3;
  color: var(--grey);
}

.select {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 12px;
  margin-top: 8px;
  padding: 12px 64px 12px 16px;
  border: none;
  background: var(--ligt-white);
  font-family: var(--main-font-family);
  font-weight: var(--medium-font-weight);
  font-size: 16px;
  line-height: 1.25;
  color: var(--black);
}

.mileageInputs {
  margin-top: 8px;
  border-radius: 12px;
  background-color: var(--ligt-white);
}

.inputLeft,
.inputRight {
  padding: 17px 24px;
  border: none;
  outline: none;
  background-color: transparent;
}

.inputLeft {
  border-right: 1px solid #dadde1;
}

.inputLeft::placeholder,
.inputRight::placeholder {
  color: var(--black);
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #101828;
}

.inputRight::placeholder {
  border-right: none;
}

.buttonSearch {
  display: flex;
  gap: 12px;
  margin-top: 23px;
  padding: 14px 51px;
  background-color: #3470ff;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttonSearch:hover {
  background-color: #0b44cd;
}

.resetButton {
  display: flex;
  margin-top: 23px;
  padding: 15px 20px;
  background-color: transparent;
  color: var(--white);
  font-weight: 500;
  border-radius: 12px;
  cursor: pointer;
  background-color: #3470ff;
  transition: all 0.3s ease;
}

.resetButton:hover {
  background-color: #0b44cd;
}
