.filtersWrapper {
  display: flex;
  gap: 24px;
  align-items: flex-end;
  margin-bottom: 40px;
  font-family: "Manrope", sans-serif;
  color: #101828;
}

.select,
.input {
  margin-top: 8px;
  padding: 12px 14px;
  border: 1px solid #cfd3d8;
  border-radius: 14px;
  font-size: 16px;
  font-family: inherit;
  color: #101828;
  min-width: 160px;
}

.label {
  font-size: 14px;
  font-weight: 500;
  color: #121417;
}

.mileageInputs {
  display: flex;
  border: 1px solid #f7f7fb;
  border-radius: 14px;
  overflow: hidden;
  background-color: #f7f7fb;
}

.inputLeft,
.inputRight {
  flex: 1;
  padding: 14px 18px;
  font-size: 18px;
  font-weight: 500;
  border: none;
  outline: none;
  background-color: transparent;
  color: #121417;
}

.inputLeft {
  border-right: 1px solid #8a8a89;
}

.inputRight {
  border-left: 1px solid transparent;
}


.button {
  padding: 14px 44px;
  background-color: #3470FF;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0b44cd;
}

.resetButton {
  padding: 14px 20px;
  background-color: transparent;
  color: #3470FF;
  font-weight: 500;
  border: 1px solid #3470FF;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.resetButton:hover {
  background-color: #f0f4ff;
}
